.animated-gradient-container {
  position: relative;
  overflow: hidden;
}

.animated-gradient,
.animated-gradient-2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}
